.humidity , .temperature{
display: inline-block;
width: 40px;
height: 20px;
}

/* todayクラスに適用するスタイル */
.today{
font-size: 20px;
}
span{
  background-color: #FFC0CB;
  height: 28px;
  display: inline-block;
}
/* temperatureクラスに適用するスタイル */
.temperature{
background-color: #FFD8B2;
}
/* humidityクラスに適用するスタイル */
.humidity{
  margin: 20px;
    background-color: #ADD8E6;
}
/* img要素に適用するスタイル */
img{
  display: block;
}

/*class属性todayの文字サイズを20pxにしてください。
class属性todayの文章にある「天気」のみ背景色を#FFC0CBにしてください。
class属性todayの文章にある「天気」のみ高さを28pxにしてください。高さを変更するためにheightプロパティ以外にも指定すべきスタイルがあることに注意してください。

class属性temperatureとhumidityの背景色を以下の色にしてください。
temperature：#FFD8B2
humidity：#ADD8E6

class属性temperatureとhumidityをdisplayプロパティを使用して横に並ぶようにし、幅を40px、高さを20pxにしてください。

img要素をdisplayプロパティを使用して気温と湿度の下に表示されるようにしてください。
 *\